REACT_APP_CLIENT=${JS_BOX_CLIENT}
REACT_APP_ENVIRONMENT=${JS_BOX_ENVIRONMENT}
REACT_APP_ACCESS_PROTOCOL=${JS_BOX_ACCESS_PROTOCOL}
REACT_APP_ACCESS_HOST=${JS_BOX_ACCESS_HOST}
REACT_APP_ACCESS_PORT=${JS_BOX_ACCESS_PORT}
