REACT_APP_ENVIRONMENT=${JS_BOX_ENVIRONMENT}
REACT_APP_CLIENT=${JS_BOX_CLIENT}
REACT_APP_NGINX_PORT=${JS_BOX_NGINX_PORT}
REACT_APP_NGINX_HOST=${JS_BOX_NGINX_HOST}
REACT_APP_MONGODB_PORT=${JS_BOX_MONGODB_PORT}
