VUE_APP_CLIENT=${JS_BOX_CLIENT}
VUE_APP_ENVIRONMENT=${JS_BOX_ENVIRONMENT}
VUE_APP_ACCESS_PROTOCOL=${JS_BOX_ACCESS_PROTOCOL}
VUE_APP_ACCESS_HOST=${JS_BOX_ACCESS_HOST}
VUE_APP_ACCESS_PORT=${JS_BOX_ACCESS_PORT}
