<div class="card">
  <form onSubmit=this.props.onSubmit>
    <div class="card-header">
      <div class="panel-heading">this.props.task</div>
    </div>
    <div class="card-body">
      <p class="card-text">Task description</p>
      hidden
      <input type="text" value=this.props.text onChange=this.props.onChange  class="form-control"/>
    </div>
    <div class="card-body">
      <button type="submit" class="btn btn-primary">this.props.action</button>
      <button type="button" class="btn btn-default" onClick=this.props.cancel>Cancel</button>
    </div>
  </form>
</div>
