.navbar {
  margin-bottom: 16px;
  height: 80px;
  background-color: #a965bf;
}

#logo {
  display: inline;
  margin: 16px 16px 0 0;
  filter: drop-shadow( 2px 2px 4px rgba(0, 0, 0, .5));
}
.title {
  font-size: 1.3em;
  color: #ffc266;
  font-weight: bolder;
  line-height: 120px;
}
.btn-delete {
  padding: 0px 6px 4px 6px;
  font-size: 1.3rem;
  line-height: 21px;
  border-radius: .2rem;
  margin-top: -9px;
}
.item-description {
  cursor: pointer;
  padding-left: 10px;
}
.item-description:hover {
  color: blue;
}
.list-group-item {
  border-left: none;
    border-right: none;
}
#desc-input-alert {
  margin-top: 10px;
  margin-bottom: 0;
}
